@import "~antd/dist/antd.css";
.ant-tabs-nav {
    margin: 0 !important;
}

.header {
    position: relative;
}

.input_search {
    position: absolute;
    top: 15px;
    left: 250px;
    width: 500px;
    margin-left: 20px;
}

.table_checkbox_group {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 20px;
    width: 120px;
    height: 130px;
    font-size: small;
    text-align: center;
    border: 1px solid #9fb7b9;
    border-radius: 10px;
    position: relative;
}

.table_checkbox_group .content > label {
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
}

.table_checkbox_group .table_checkbox_group__checkbox {
    display: none;
}
.table_checkbox_group .table_checkbox_group__status {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    position: absolute;
    right: 4px;
    top: 5px;
}

/* .table_checkbox_group input[type="checkbox"]:checked + .content {
    background-color: #d5c7bc;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    position: relative;
}

.table_checkbox_group input[type="checkbox"]:not(:checked) + .content {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    position: relative;
} */

.btn_filter_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn_filter_group > button {
    margin-top: 5px;
    margin-left: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 700px;
}

.wrapper__list {
    margin-bottom: 16px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.wrapper .pagination {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.tab_content {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    border: 1px solid #9fb7b9;
    max-height: 500px;
    border-radius: 5px;
    overflow-y: scroll;
}

.tab_content .tab_content__item {
    display: flex;
    height: 100px;
    align-items: center;
}

.tab_content .tab_content__item .tab_content__item_btn_delete {
    cursor: pointer;
    width: 30px;
    border: 1px solid #9fb7b9;
    border-radius: 4px;
    padding: 5px;
    margin: 0 10px;
}

.tab_content .tab_content__item .tab__content__item__title {
    width: 200px;
}

.tab_content .tab_content__item .tab__content__item__title span:nth-child(1) {
    display: flex;
    flex-flow: column wrap;
    font-weight: 500;
    font-size: larger;
}

.tab_content .tab_content__item .tab__content__item__title span:nth-child(2) {
    position: relative;
    font-weight: 300;
    font-size: medium;
}

.tab_content .tab_content__item .tab__content__item__title span:nth-child(2) img {
    cursor: pointer;
    width: 16px;
    position: absolute;
    top: 1px;
    right: -20px;
}

.tab_content .tab_content__item .tab__content__item__input {
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-flow: row wrap;
}

.tab_content .tab_content__item .tab__content__item__input .input_price {
    width: 100px;
    margin-right: 10px;
}

.tab_content .tab_content__item .tab__content__item__input .input_quantity {
    width: 50px;
    margin: 0 5px;
}

.wrapper_product {
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 3px;
}

.product {
    width: 150px;
    min-height: 180px;
    max-height: 200px;
    text-align: center;
    position: relative;
}

.product__image {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.product__title {
    margin-top: 10px;
    height: 50px;
    font-weight: 500;
    font-size: medium;
    width: 150px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product__price {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: large;
}
